{% extends 'template.html' %}
    {% block clients %}
        <!-- {% if client_user %}
            <h1>{{ client_user.name }}</h1>
            <p> {{ client_user.surname }}</p>
            <p> {{ client_user.email }}</p>
            <p> {{ client_user.phone }}</p>
        {% else %}
            <p>Nie ma takiego Klienta</p>
        {% endif %} -->

        {% if client_user %}
            <h1>{{ client_user.name }}</h1>
            <p> {{ client_user.surname }}</p>
            <p> {{ client_user.email }}</p>
            <p> {{ client_user.phone }}</p>
        {% else %}
            <p>Nie ma takiego Klienta</p>
        {% endif %}

        <br>
        <br>
        <br>
        {{ client_user }} kontrolny
    {% endblock clients %}
