{% extends 'template.html' %}
{% load static %}
{% block book %}
    <book class="book" style="text-align: center;">
        {% if book_user %}
            <h3>Tytuł: {{ book_user.title }}</h3>
            <h5>Autor: {{ book_user.author }}</h5>
            <h5>Kategoria: {{ book_user.category }}</h5>
            <h5>nr ISBN {{ book_user.ISBN }}</h5>
            <h5>Cena: {{ book_user.price }}</h5>
            <p><button>Dodaj do koszyka</button></p>
        {% else %}
            <p>Nie ma takiej książki</p>
        {% endif %}
    </book>
{% endblock book %}