<!DOCTYPE html>
<html lang="pl">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>Księgarnia</title>

	<link rel="stylesheet" href="style.css" />
	<link href="css/fontello.css" rel="stylesheet" type="text/css" />


</head>

<body>

	<header>
		<h1 class="header-title">
			<span style="color: yellowgreen; font-size:40px"> Księgarnia</span>
		</h1>
		<div class="search-bar">
			<input type="text" class="search-bar-input" placeholder="Szukaj.." />

			<a href="#"> <span class="icon-search" style="color:yellowgreen"></a>
			</span>
			<div class="icon-basket">
			Koszyk
		</div>
		</div>
	</header>

	<div class="container">
		<aside class="categories">
			<h1 class="categories-title">Kategorie</h1>

			<section class="categories-items">
				<a href="index.html"><button class="active">Strona główna</button>
					<a href="book.html"> <button>Książki</button></a>
					<a href="product.html"> <button>Dodatki</button></a>
					<a href="contact.html"><button>Kontakt</button></a>
			</section>
		</aside>

		<!- 1 zdj ->
			<section class="products">
				<div class="product-item">
					<img src="Grafika/kubek1.jpg" />
					<p class="product-name"> ROLER COSTER</p>
					<p class="product-description">
						Rękawice turu Roler COSTER kolor czarny, ochrona palców. Rękawice skórzane...
					</p>
					<div class="product-price">
						<span class="price"> 350 zł</span>
					</div>
					<button class="product-plus"> Dodaj do koszyka</button>
				</div>

				<!- 2 zdj ->

					<div class="product-item">
						<img src="Grafika/kubek2.jpg" />
						<p class="product-name"> MARS GOTTER</p>
						<p class="product-description">
							Rękawice sportowe Mars GOTTER kolor czarny, skórzane, ochrona palców...
						</p>
						<div class="product-price">
							<span class="price"> 330 zł</span>
						</div>
						<button class="product-plus"> Dodaj do koszyka</button>
					</div>

					<!- 3 zdj ->
						<div class="product-item">
							<img src="Grafika/kubek3.jpg" />
							<p class="product-name">ADRENALINE LYNX MAN</p>
							<p class="product-description">
								Rękawice sportowe ADRENALINE LYNX MAN kolor czarny/biały...
							</p>
							<div class="product-price">
								<span class="price"> 390 zł</span>
							</div>
							<button class="product-plus"> Dodaj do koszyka</button>
						</div>

						<!- 4 zdj ->
							<div class="product-item">
								<img src="Grafika/kubek4.jpg" />
								<p class="product-name"> ADRENALINE LYNX PPES</p>
								<p class="product-description">
									Rękawice sportowe ADRENALINE LYNX PPE kolor czarny/czerwony...
								</p>
								<div class="product-price">
									<span class="price"> 490 zł</span>
								</div>
								<button class="product-plus"> Dodaj do koszyka</button>
							</div>

							<!- 5 zdj ->
								<div class="product-item">
									<img src="Grafika/kubek5.jpg" />
									<p class="product-name"> RACE LYNX PPES</p>
									<p class="product-description">
										Rękawice sportowe RACE LYNX PPE kolor czarny/biały, wzmocnione...
									</p>
									<div class="product-price">
										<span class="price"> 420 zł</span>
									</div>
									<button class="product-plus"> Dodaj do koszyka</button>
								</div>

								<!- 6 zdj ->
									<div class="product-item">
										<img src="Grafika/kubek6.jpg" />
										<p class="product-name"> GAME OF MONTER</p>
										<p class="product-description">
											Rękawice turystyczne GAME OF MONTER kolor czarny/żółty. Wodoodporne
											rękawice...
										</p>
										<div class="product-price">
											<span class="price"> 375 zł</span>
										</div>
										<button class="product-plus"> Dodaj do koszyka</button>
									</div>
			</section>
	</div>
</body>
</html>