{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Księgarnia</title>

	<!-- <link rel="stylesheet" href="style.css" /> -->
	<link href="{% static 'Books/css/fontello.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'Books/style.css' %}">
</head>

<body>
	<header>
		<h1 class="header-title">
			<a href="/"><span style="color: wheat; font-size:40px">&nbsp &nbsp Księgarnia </span></a>
			<span id="hello-msg">&nbsp &nbsp Cześć, {{request.user}}</span>
		</h1>
		<div class="search-bar">
			<input type="text" class="search-bar-input" placeholder="Szukaj.." />

			
			<a href="#"> <span class="icon-search" style="color:rgb(100, 98, 98)"></a>
			</span>
		</div>
			<a href="/cart">
				<div style="font-size: 25px; color: rgb(82, 72, 72)" class="icon-basket"><button>Koszyk</button></div>
			</a>
			<a href="{% url 'logout' %}"><span style="font-size: 25px; color: rgb(252, 60, 60)">&nbsp Wyloguj</span></a>
	</header>

	<div class="container">
		<aside class="categories">
			<h1 class="categories-title">Strona jeszcze w budowie ;-)</h1>

			<section class="categories-items">
				<a href="/"><button class="active">Strona główna</button></a>
					<a href="/books"> <button>Książki</button></a>
					<!-- <a href="/products"> <button>Dodatki</button></a> -->
					<a href="/contact"><button>Kontakt</button></a>
			</section>
		</aside>
	{% block book %}       {% endblock book %}
	{% block contact %}    {% endblock contact %}
	{% block cart %}       {% endblock cart %}
	{% block checkout %}   {% endblock checkout %}
	</div>

	<div class="mainphoto" style="text-align: center;">
		<img src="{% static 'Books/Grafika/photo1.jpg' %}" alt="Main Photo"/>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity=
	"sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity=
	"sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity=
	"sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>