{% extends 'template.html' %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block book %}
        {% if book_user %}
            <h1>{{ book_user.title }}</h1>
            <p> {{ book_user.author }}</p>
            <p> {{ book_user.category_name }}</p>
            <p> {{ book_user.ISBN }}</p>
            <p> {{ book_user.price }}</p>
        {% else %}
            <p>Nie ma takiej książki</p>
        {% endif %}

    {% endblock book %}
</body>
</html>